* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  box-shadow: 1px 1px 10px grey;
  height: 80px;
}
ul {
  list-style: none;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
li {
  padding: 2em;
}
li img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: block;
  margin-top: -18px;
}
li a {
  color: black;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  display: block;
  margin-top: -18px;
}
.left-nav {
  display: flex;
}
.right-nav {
  display: flex;
  margin-right: 100px;
}
